.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*/*/*_cache
slides/talk01/talk01_files/
slides/talk02/talk02_files/
slides/talk03/talk03_files/
slides/talk02/homework02_files/
slides/talk03/homework03_files/
*/*/*_files/
cases/linear_regression/MLR_files
slides/talk01/talk01.zip
.DS_Store
*/.DS_Store
*/*/.DS_Store
.worktrees/
.qwen/
docs/
.positai
